<div class="centered-content">
    <div class="modal-box" style="background-color: #f8f8f8">
        <h1 class="title">
            Create a new list
          </h1>

        <input #listTitleInput class="input is-primary" type="text" placeholder="Enter List Name" style="width: 80%;
        border: 2px solid #4b77f1; padding: 15px; border-radius: 5px;">
    
        
          <br><br>
          <div class="buttons">
            <button class="button-create" (click)="createList(listTitleInput.value)">Create</button>
            <button class="button-cancel" (click)="onCancelListClick()">Cancel</button>
          </div>
    </div>
</div>
