<!--Container-->
<div class="centered-content">
  <div class="task-manager-container has-background-white">

    <!--Sidebar Items-->
    <div class="sidebar">
      <h1 class="title" style="color: #4b77f1">Lists of Tasks</h1>

      <div class="list-menu">
        <a class="list-menu-item is-active">
          <p>List #1</p>
        </a>

        <a class="list-menu-item" *ngFor="let list of lists" (click)="onListId(list)" routerLinkActive="is-active">
          <p>{{ list.title }}</p>
        </a>

      </div>

      <button class="button" (click)="onNewListClick()">+ New List</button>
    </div>

    <!--Task List Container-->

    <div class="task-list-container has-background-light">
      <h1 class="title" style="color: #4b77f1">Tasks To be Done</h1>

      <!--Task Elements-->

      <div class="task" *ngFor="let task of tasks">
        
        <div class="task-text">
          <p>{{ task.title }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
